<h1> <%= @movies[:title] %> <%= @comment %> </h1>
<h4>Metacritic Score: <%= @movies[:score] %> </h4>
<img src="<%= @poster %>" />
<h6><a class="waves-effect waves-light btn white teal-text" href="all/2">Ehh, next option</a></h6>
