<div class="content">
  <div class="banner">
    <h5> <%= @movies[:title] %> <%= @comment %> </h5>
  </div>

  <div class="score">
    <h6>Metacritic Score: <%= @movies[:score] %> </h6>
  </div>
  
  <div class="poster">
    <img src="<%= @poster %>" />
  </div>
</div>
