<div class="welcome">
  <h1>Movies That Won't Suck</h1>

  <a class="waves-effect waves-light btn white teal-text" href="/new">Just Released</a>
  <a class="waves-effect waves-light btn white teal-text" href="/all">In Theaters</a>
</div>
