<div class="welcome">
  <h2 id="headline">NonShittyMovies</h2>
  <h6 id="turds">may the turds sink</h6><br>
  <h6 id="show-me">show me the best-reviewed films:</h6>

  <a class="waves-effect waves-light btn white teal-text" href="/all">In Theaters</a>
  <a class="waves-effect waves-light btn white teal-text" href="/new">New Release</a>
  <br>
  <img id='poop' src="/images/poop.png" alt="good movies" />
</div>
