<form action="/tasks/<%= @task.id %>" method="post">
  <p>Edit</p>
  <input type="hidden" name="_method" value="PUT">
  <input type="text" name="task[title]" value="<%= @task.title %>" id="task-title">
  <textarea name="task[description]" id="task-description"><%= @task.description %></textarea><br>
  <input type="submit" value="Update Task">
</form>