<br>
<div class="banner">
  <h5> Explain This </h5>
</div>
<div class="info">
  <p><br><br>
    Going all the way to the theater for a crap movie is no good. <br><br>
    This site pulls the latest movie review data from Metacritic to determine which movie will not suck. You may not love the movie, it may not be for you, but it won't be objectively horrible. <br><br>
    Why Metacritic data and not Rotten Tomatoes? Because the Metacritic ranking system is tougher, making it less likely that mediocre movies will get great rankings.
  </p>
  <p>
    <ul>
      <li>Contact:</li>
      <li>email: stevenoscarolson@gmail.com</li>
      <li><a target="blank" href="https://github.com/SteveOscar">Github</a></li>
      <li><a target="blank" href="http://www.stevenoscarolson.com/">Portfolio</a></li>
    </ul>
  </p>

</div>
