<div class="info">
  <p>
    Going all the way to the theater for a crap movie is no good. <br>
    This site pulls the latest movie review data from Metacritic to determine the which movie will not suck. You may not love the movie, it may not be for you, but it won't be horrible.
  </p>

</div>
