<form action="/tasks" method="post">
  <p>Enter a new task:</p>
  <input type="text" name="task[title]"  id="task-title"><br/>
  <textarea id="task-description" name="task[description]"></textarea><br/>
  <input type="submit" value="Create Task">
</form>
