<br>
<h4>The best recent releases:</h4>
<% if @movies.movie1[:score].to_i <= 60 && @movies.movie2[:score].to_i <= 60 && @movies.movie3[:score].to_i <= 60 %>
  <h5>Warning: Shitty Movie Week</h5>
<% end %>
<%= erb :content_partial %>
